In [1]:
import pandas as pd
import requests
import time
MyToken = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjg4NTMsInVzZXJfaWQiOjg4NTMsImVtYWlsIjoiemltaW5nbGluODhAZ21haWwuY29tIiwiZm9yZXZlciI6ZmFsc2UsImlzcyI6Imh0dHA6XC9cL29tMi5kZmUub25lbWFwLnNnXC9hcGlcL3YyXC91c2VyXC9zZXNzaW9uIiwiaWF0IjoxNjYwMzc4ODY5LCJleHAiOjE2NjA4MTA4NjksIm5iZiI6MTY2MDM3ODg2OSwianRpIjoiMTU1OWM5MWNjMGIwNWUxNDk0MzBlYjZjMzdkOTFkMzUifQ.E_gkSQuoWxMqJX3GQu1-yWV8ohfeN-K7OwR46oBG4Mg"

---

In [ ]:
#Get list of planning areas

In [2]:
urlplanningarea = f"https://developers.onemap.sg/privateapi/popapi/getPlanningareaNames?token={MyToken}"
#planningareanames = requests.get(urlplanningarea).json()
req = requests.get(urlplanningarea).json()
planningareanames = []

for i in req:
    planningareanames.append(i["pln_area_n"])
    
print(planningareanames)

['ANG MO KIO', 'BEDOK', 'BISHAN', 'BOON LAY', 'BUKIT BATOK', 'BUKIT MERAH', 'CHOA CHU KANG', 'BUKIT PANJANG', 'JURONG EAST', 'QUEENSTOWN', 'JURONG WEST', 'BUKIT TIMAH', 'CENTRAL WATER CATCHMENT', 'CHANGI', 'CHANGI BAY', 'TENGAH', 'CLEMENTI', 'GEYLANG', 'HOUGANG', 'PIONEER', 'PUNGGOL', 'SELETAR', 'SEMBAWANG', 'SENGKANG', 'SERANGOON', 'SIMPANG', 'SOUTHERN ISLANDS', 'SUNGEI KADUT', 'TAMPINES', 'TANGLIN', 'TOA PAYOH', 'TUAS', 'WESTERN ISLANDS', 'WESTERN WATER CATCHMENT', 'WOODLANDS', 'YISHUN', 'DOWNTOWN CORE', 'MARINA EAST', 'MARINA SOUTH', 'MUSEUM', 'NEWTON', 'ORCHARD', 'OUTRAM', 'KALLANG', 'LIM CHU KANG', 'MANDAI', 'MARINE PARADE', 'NORTH-EASTERN ISLANDS', 'NOVENA', 'PASIR RIS', 'PAYA LEBAR', 'RIVER VALLEY', 'ROCHOR', 'SINGAPORE RIVER', 'STRAITS VIEW']

In [3]:
dfplnarea = pd.DataFrame(columns=["PlanningArea"])
dfplnarea["PlanningArea"] = pd.DataFrame(planningareanames)
dfplnarea

               PlanningArea
0                ANG MO KIO
1                     BEDOK
2                    BISHAN
3                  BOON LAY
4               BUKIT BATOK
5               BUKIT MERAH
6             CHOA CHU KANG
7             BUKIT PANJANG
8               JURONG EAST
9                QUEENSTOWN
10              JURONG WEST
11              BUKIT TIMAH
12  CENTRAL WATER CATCHMENT
13                   CHANGI
14               CHANGI BAY
15                   TENGAH
16                 CLEMENTI
17                  GEYLANG
18                  HOUGANG
19                  PIONEER
20                  PUNGGOL
21                  SELETAR
22                SEMBAWANG
23                 SENGKANG
24                SERANGOON
25                  SIMPANG
26         SOUTHERN ISLANDS
27             SUNGEI KADUT
28                 TAMPINES
29                  TANGLIN
30                TOA PAYOH
31                     TUAS
32          WESTERN ISLANDS
33  WESTERN WATER CATCHMENT
34                WOODLANDS
35                   YISHUN
36            DOWNTOWN CORE
37              MARINA EAST
38             MARINA SOUTH
39                   MUSEUM
40                   NEWTON
41                  ORCHARD
42                   OUTRAM
43                  KALLANG
44             LIM CHU KANG
45                   MANDAI
46            MARINE PARADE
47    NORTH-EASTERN ISLANDS
48                   NOVENA
49                PASIR RIS
50               PAYA LEBAR
51             RIVER VALLEY
52                   ROCHOR
53          SINGAPORE RIVER
54             STRAITS VIEW

---

In [ ]:
#----Economic Status----

In [4]:
def geteconomicstatus(*yearlist):
    econlist = []
    errorlist = []
    
    def geteconomicstatussub(planningarea, year):
        url = f"https://developers.onemap.sg/privateapi/popapi/getEconomicStatus?token={MyToken}&planningArea={planningarea}&year={year}"
        req = requests.get(url).json()
        return req
    
    def appenderrorlist(errorlist, errorcount, year):
        errorlistnew = []
        correctedlist = []
        
        for planningarea in errorlist:
            try:
                male, female = geteconomicstatussub(planningarea, year)
                if len(male) and len(female) > 0:
                    correctedlist.append(male)
                    correctedlist.append(female)
                    time.sleep(0.3)
            except:
                errorlistnew.append(planningarea)
                print("Error data point at %s %s" %(year, planningarea))
        if len(errorlistnew) > 0:
            errorcount += 1
            print("There were still %s errors and the error count is %s... Re-running errorlist if error count less than 3" % (len(errorlistnew), errorcount))
                            
        return correctedlist, errorcount, errorlistnew
    
    
    #Main code
        
    for year in list(yearlist):
        
        for planningarea in planningareanames:
            
            try:
                male, female = geteconomicstatussub(planningarea, year)
                if len(male) and len(female) > 0:
                    econlist.append(male)
                    econlist.append(female)
                    time.sleep(0.5)
            except:
                errorlist.append(planningarea)    #Sometimes OneMap api can be overloaded even with long sleep time
    
        if len(errorlist) > 0:                    #ErrorHandling
            errorcount = 1
            print("There were %s errors, re-looping through error list..." %(len(errorlist)))
            
            while errorcount < 3:
                correctedlist, errorcount, errorlist = appenderrorlist(errorlist, errorcount, year)
                if len(correctedlist) > 0:
                    econlist.append(correctedlist)
                if errorcount == 3:
                    errorlist = []
                    continue
                    
    
    #Save to Dataframe
    
    df = pd.DataFrame(econlist)
    
    return df

In [5]:
#Call Function
dfecon = geteconomicstatus(2010, 2015, 2020)
dfecon

There were 20 errors, re-looping through error list...
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 2... Re-running errorlist if error count less than 3
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 3... Re-running errorlist if error count less than 3

       planning_area  employed  unemployed  inactive  year  gender
0         Ang Mo Kio     50815        2485     20034  2010    Male
1         Ang Mo Kio     40256        2093     37492  2010  Female
2              Bedok     83567        3748     33195  2010    Male
3              Bedok     64100        2802     59608  2010  Female
4             Bishan     25432        1079     11215  2010    Male
..               ...       ...         ...       ...   ...     ...
285           Rochor         0           0         0  2020  Female
286  Singapore River         0           0         0  2020    Male
287  Singapore River         0           0         0  2020  Female
288     Straits View         0           0         0  2020    Male
289     Straits View         0           0         0  2020  Female

[290 rows x 6 columns]

In [ ]:
#Save to CSV
dfecon.to_csv("..Raw-Data-EconomicStatus-2010-2015-2020.csv", index=False)

---

In [ ]:
#----Education Status----

In [7]:
def geteducationstatus(*yearlist):
    edulist = []
    errorlist = []
    
    def geteducationstatussub(planningarea, year):
        url = f"https://developers.onemap.sg/privateapi/popapi/getEducationAttending?token={MyToken}&planningArea={planningarea}&year={year}"
        req = requests.get(url).json()
        return req[0]
    
    def appenderrorlist(errorlist, errorcount, year):
        errorlistnew = []
        correctedlist = []
        
        for planningarea in errorlist:
            try:
                nextrow = geteducationstatussub(planningarea, year)
                if len(nextrow) > 0:
                    edulist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlistnew.append(planningarea)
                print("Error data point at %s %s" %(year, planningarea))
        if len(errorlistnew) > 0:
            errorcount += 1
            print("There were still %s errors and the error count is %s... Re-running errorlist if error count less than 3" % (len(errorlistnew), errorcount))
                            
        return correctedlist, errorcount, errorlistnew
    
    
    #Main code
        
    for year in list(yearlist):
        
        for planningarea in planningareanames:
            
            try:
                nextrow = geteducationstatussub(planningarea, year)
                if len(nextrow) > 0:
                    edulist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlist.append(planningarea)    #Sometimes OneMap api can be overloaded even with long sleep time
    
        if len(errorlist) > 0:                    #ErrorHandling
            errorcount = 1
            print("There were %s errors, re-looping through error list..." %(len(errorlist)))
            
            while errorcount < 3:
                correctedlist, errorcount, errorlist = appenderrorlist(errorlist, errorcount, year)
                if len(correctedlist) > 0:
                    edulist.append(correctedlist)
                if errorcount == 3:
                    errorlist = []
                    continue
                    
    
    #Save to Dataframe
    
    df = pd.DataFrame(edulist)
    
    return df

In [8]:
#Call Function
dfedu = geteducationstatus(2010, 2015, 2020)
dfedu

There were 20 errors, re-looping through error list...
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 2... Re-running errorlist if error count less than 3
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 3... Re-running errorlist if error count less than 3

,planning_area,pre_primary,primary,secondary,post_secondary,polytechnic,prof_qualification_diploma,university,year
0,Ang Mo Kio,2501,10897,8754,2102,2966,595,3208,2010
1,Bedok,4103,20171,15944,4364,6343,1326,5550,2010
2,Bishan,1562,6490,5711,1704,2274,357,2824,2010
3,Bukit Batok,2372,11574,9601,2708,3202,598,3224,2010
4,Bukit Merah,1874,8052,6390,1472,2433,462,2330,2010
...,...,...,...,...,...,...,...,...,...
140,Paya Lebar,0,0,0,0,0,0,0,2020
141,River Valley,193,767,468,168,62,12,317,2020
142,Rochor,0,0,0,0,0,0,0,2020
143,Singapore River,0,0,0,0,0,0,0,2020
144,Straits View,0,0,0,0,0,0,0,2020

In [ ]:
#Save to CSV
dfedu.to_csv('..Raw-Data-EducationStatus-2010-2015-2020.csv', index=False)

---

In [ ]:
#Ethnic Distribution

In [33]:
def getethnicstatus(*yearlist):
    ethniclist = []
    errorlist = []
    
    def getethnicstatussub(planningarea, year):
        url = f"https://developers.onemap.sg/privateapi/popapi/getEthnicGroup?token={MyToken}&planningArea={planningarea}&year={year}"
        req = requests.get(url).json()
        return req[0]
    
    def appenderrorlist(errorlist, errorcount, year):
        errorlistnew = []
        correctedlist = []
        
        for planningarea in errorlist:
            try:
                nextrow = getethnicstatussub(planningarea, year)
                if len(nextrow) > 0:
                    ethniclist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlistnew.append(planningarea)
                print("Error data point at %s %s" %(year, planningarea))
        if len(errorlistnew) > 0:
            errorcount += 1
            print("There were still %s errors and the error count is %s... Re-running errorlist if error count less than 3" % (len(errorlistnew), errorcount))
                            
        return correctedlist, errorcount, errorlistnew
    
    
    #Main code
        
    for year in list(yearlist):
        
        for planningarea in planningareanames:
            
            try:
                nextrow = getethnicstatussub(planningarea, year)
                if len(nextrow) > 0:
                    ethniclist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlist.append(planningarea)    #Sometimes OneMap api can be overloaded even with long sleep time
    
        if len(errorlist) > 0:                    #ErrorHandling
            errorcount = 1
            print("There were %s errors, re-looping through error list..." %(len(errorlist)))
            
            while errorcount < 3:
                correctedlist, errorcount, errorlist = appenderrorlist(errorlist, errorcount, year)
                if len(correctedlist) > 0:
                    ethniclist.append(correctedlist)
                if errorcount == 3:
                    errorlist = []
                    continue
                    
    
    #Save to Dataframe
    
    df = pd.DataFrame(ethniclist)
    
    return df

In [34]:
#Call function
dfethnic = getethnicstatus(2010, 2015, 2020)
dfethnic

There were 21 errors, re-looping through error list...
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 MANDAI
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 21 errors and the error count is 2... Re-running errorlist if error count less than 3
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 MANDAI
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 21 errors and the error count is 3... Re-running errorlist if error count less than 3

       planning_area  chinese  malays  indian  others  year
0         Ang Mo Kio   146966   12873   14952    4506  2010
1              Bedok   209892   47179   25348   12100  2010
2             Bishan    77303    4045    7223    2727  2010
3        Bukit Batok   104265   20482   15257    4193  2010
4        Bukit Merah   124684   11350   15790    4458  2010
..               ...      ...     ...     ...     ...   ...
139       Paya Lebar        0       0       0       0  2020
140     River Valley     7030      90    1500    1460  2020
141           Rochor     9680     620    2390     470  2020
142  Singapore River     2320      20     310     640  2020
143     Straits View        0       0       0       0  2020

[144 rows x 6 columns]

In [ ]:
#Save to CSV
dfethnic.to_csv("..Raw-Data-EthnicDistribution-2010-2015-2020.csv", index=False)

---

In [ ]:
#----Household Size----

In [9]:
def gethouseholdsize(*yearlist):
    householdsizelist = []
    errorlist = []
    
    def gethouseholdsizesub(planningarea, year):
        url = f"https://developers.onemap.sg/privateapi/popapi/getHouseholdSize?token={MyToken}&planningArea={planningarea}&year={year}"
        req = requests.get(url).json()
        return req[0]
    
    def appenderrorlist(errorlist, errorcount, year):
        errorlistnew = []
        correctedlist = []
        
        for planningarea in errorlist:
            try:
                nextrow = gethouseholdsizesub(planningarea, year)
                if len(nextrow) > 0:
                    householdsizelist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlistnew.append(planningarea)
                print("Error data point at %s %s" %(year, planningarea))
        if len(errorlistnew) > 0:
            errorcount += 1
            print("There were still %s errors and the error count is %s... Re-running errorlist if error count less than 3" % (len(errorlistnew), errorcount))
                            
        return correctedlist, errorcount, errorlistnew
    
    
    #Main code
        
    for year in list(yearlist):
        
        for planningarea in planningareanames:
            
            try:
                nextrow = gethouseholdsizesub(planningarea, year)
                if len(nextrow) > 0:
                    householdsizelist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlist.append(planningarea)    #Sometimes OneMap api can be overloaded even with long sleep time
    
        if len(errorlist) > 0:                    #ErrorHandling
            errorcount = 1
            print("There were %s errors, re-looping through error list..." %(len(errorlist)))
           
            while errorcount < 3:
                correctedlist, errorcount, errorlist = appenderrorlist(errorlist, errorcount, year)
                if len(correctedlist) > 0:
                    householdsizelist.append(correctedlist)
                if errorcount == 3:
                    errorlist = []
                    continue
                    
    
    #Save to Dataframe
    
    df = pd.DataFrame(householdsizelist)
    
    return df

In [10]:
#Call function
dfhousehold = gethouseholdsize(2010, 2015, 2020)
dfhousehold

There were 20 errors, re-looping through error list...
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 2... Re-running errorlist if error count less than 3
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 3... Re-running errorlist if error count less than 3

,planning_area,person1,person2,person3,person4,person5,person6,person7,person_more_8,year
0,Ang Mo Kio,10029,13021,13328,11705,6860,2864.0,1244.0,654.0,2010
1,Bedok,12598,17613,18412,19446,12730,5989.0,2682.0,1756.0,2010
2,Bishan,2654,4552,5553,6926,4330,2175.0,781.0,486.0,2010
3,Bukit Batok,4719,7604,9262,11146,6782,2942.0,1059.0,617.0,2010
4,Bukit Merah,10936,14920,11578,9625,5115,2297.0,749.0,407.0,2010
...,...,...,...,...,...,...,...,...,...,...
140,Paya Lebar,0,0,0,0,0,0.0,0.0,0.0,2020
141,River Valley,869,794,571,740,603,223.0,117.0,58.0,2020
142,Rochor,0,0,0,0,0,0.0,0.0,0.0,2020
143,Singapore River,0,0,0,0,0,0.0,0.0,0.0,2020
144,Straits View,0,0,0,0,0,0.0,0.0,0.0,2020

In [ ]:
#Save to CSV
dfhousehold.to_csv("..Raw-Data-HouseholdSize-2010-2015-2020.csv", index=False)

---

In [ ]:
#----Household Structure----

In [11]:
def gethouseholdstructure(*yearlist):
    hhstructurelist = []
    errorlist = []
    
    def gethouseholdstructuresub(planningarea, year):
        url = f"https://developers.onemap.sg/privateapi/popapi/getHouseholdStructure?token={MyToken}&planningArea={planningarea}&year={year}"
        req = requests.get(url).json()
        return req[0]
    
    def appenderrorlist(errorlist, errorcount, year):
        errorlistnew = []
        correctedlist = []
        
        for planningarea in errorlist:
            try:
                nextrow = gethouseholdstructuresub(planningarea, year)
                if len(nextrow) > 0:
                    hhstructurelist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlistnew.append(planningarea)
                print("Error data point at %s %s" %(year, planningarea))
        if len(errorlistnew) > 0:
            errorcount += 1
            print("There were still %s errors and the error count is %s... Re-running errorlist if error count less than 3" % (len(errorlistnew), errorcount))
                            
        return correctedlist, errorcount, errorlistnew
    
    
    #Main code
        
    for year in list(yearlist):
        
        for planningarea in planningareanames:
            
            try:
                nextrow = gethouseholdstructuresub(planningarea, year)
                if len(nextrow) > 0:
                    hhstructurelist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlist.append(planningarea)    #Sometimes OneMap api can be overloaded even with long sleep time
    
        if len(errorlist) > 0:                    #ErrorHandling
            errorcount = 1
            print("There were %s errors, re-looping through error list..." %(len(errorlist)))
            
            while errorcount < 3:
                correctedlist, errorcount, errorlist = appenderrorlist(errorlist, errorcount, year)
                if len(correctedlist) > 0:
                    hhstructurelist.append(correctedlist)
                if errorcount == 3:
                    errorlist = []
                    continue
                    
    
    #Save to Dataframe
    
    df = pd.DataFrame(hhstructurelist)
    
    return df

In [12]:
#Call function
dfhhstructure = gethouseholdstructure(2010, 2015, 2020)
dfhhstructure

There were 20 errors, re-looping through error list...
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 2... Re-running errorlist if error count less than 3
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 3... Re-running errorlist if error count less than 3

,planning_area,no_family_nucleus,ofn_1_gen,ofn_2_gen,ofn_3_more_gen,tfn_1to2_gen,tfn_3_more_gen,three_more_fam_nucleus,year
0,Ang Mo Kio,13732,7479,31672,3351,946.0,2408.0,117.0,2010
1,Bedok,17526,11330,50450,5758,1435.0,4412.0,313.0,2010
2,Bishan,3736,3130,16663,2104,394.0,1354.0,77.0,2010
3,Bukit Batok,6684,5362,26639,2499,703.0,2105.0,141.0,2010
4,Bukit Merah,15515,8061,26717,2771,667.0,1826.0,71.0,2010
...,...,...,...,...,...,...,...,...,...
140,Paya Lebar,0,0,0,0,0.0,0.0,0.0,2020
141,River Valley,1194,728,1793,105,17.0,134.0,5.0,2020
142,Rochor,0,0,0,0,0.0,0.0,0.0,2020
143,Singapore River,0,0,0,0,0.0,0.0,0.0,2020
144,Straits View,0,0,0,0,0.0,0.0,0.0,2020

In [ ]:
#Save to CSV
dfhhstructure.to_csv("..Raw-Data-HouseholdStructure-2010-2015-2020.csv", index=False)

---

In [ ]:
#----Language Literacy----

In [13]:
def getlanglit(*yearlist):
    langlist = []
    errorlist = []
    
    def getlanglitsub(planningarea, year):
        url = f"https://developers.onemap.sg/privateapi/popapi/getLanguageLiterate?token={MyToken}&planningArea={planningarea}&year={year}"
        req = requests.get(url).json()
        return req[0]
    
    def appenderrorlist(errorlist, errorcount, year):
        errorlistnew = []
        correctedlist = []
        
        for planningarea in errorlist:
            try:
                nextrow = getlanglitsub(planningarea, year)
                if len(nextrow) > 0:
                    langlist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlistnew.append(planningarea)
                print("Error data point at %s %s" %(year, planningarea))
        if len(errorlistnew) > 0:
            errorcount += 1
            print("There were still %s errors and the error count is %s... Re-running errorlist if error count less than 3" % (len(errorlistnew), errorcount))
                            
        return correctedlist, errorcount, errorlistnew
    
    
    #Main code
        
    for year in list(yearlist):
        
        for planningarea in planningareanames:
            
            try:
                nextrow = getlanglitsub(planningarea, year)
                if len(nextrow) > 0:
                    langlist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlist.append(planningarea)    #Sometimes OneMap api can be overloaded even with long sleep time
    
        if len(errorlist) > 0:                    #ErrorHandling
            errorcount = 1
            print("There were %s errors, re-looping through error list..." %(len(errorlist)))
            
            while errorcount < 3:
                correctedlist, errorcount, errorlist = appenderrorlist(errorlist, errorcount, year)
                if len(correctedlist) > 0:
                    langlist.append(correctedlist)
                if errorcount == 3:
                    errorlist = []
                    continue
                    
    
    #Save to Dataframe
    
    df = pd.DataFrame(langlist)
    
    return df

In [14]:
#Call function
dflanglit = getlanglit(2010, 2015, 2020)
dflanglit

There were 20 errors, re-looping through error list...
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 2... Re-running errorlist if error count less than 3
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 3... Re-running errorlist if error count less than 3

,planning_area,no_literate,l1_chi,l1_eng,l1_mal,l1_tam,l1_non_off,l2_eng_chi,l2_eng_mal,l2_eng_tam,l2_other_two,l3_eng_chi_mal,l3_eng_mal_tam,l3_other_three,year,l2_eng_non_off
0,Ang Mo Kio,10014,30511,16269,1748,595,197,65641,10500,5786,678,4259.0,861.0,3178.0,2010,2937
1,Bedok,10245,36837,31341,4960,545,503,95125,38815,4519,1181,6862.0,867.0,8283.0,2010,6937
2,Bishan,2266,9190,12151,377,256,50,39036,5238,2522,157,2212.0,425.0,2301.0,2010,1938
3,Bukit Batok,3965,16888,10794,2110,311,238,51861,15791,5069,482,4813.0,530.0,3940.0,2010,3923
4,Bukit Merah,10410,27131,13933,1397,1206,277,55065,8143,5569,498,2719.0,811.0,2984.0,2010,3418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,Paya Lebar,0,0,0,0,0,0,0,0,0,0,0.0,0.0,NaN,2020,0
141,River Valley,15,248,1705,6,0,24,3608,461,67,28,357.0,5.0,NaN,2020,1134
142,Rochor,0,0,0,0,0,0,0,0,0,0,0.0,0.0,NaN,2020,0
143,Singapore River,0,0,0,0,0,0,0,0,0,0,0.0,0.0,NaN,2020,0
144,Straits View,0,0,0,0,0,0,0,0,0,0,0.0,0.0,NaN,2020,0

In [ ]:
#Save to CSV
dflanglit.to_csv("..Raw-Data-LanguageLiteracy-2010-2015-2020.csv", index=False)

---

In [ ]:
#----Marital Status----

In [15]:
def getmaritalstatus(*yearlist):
    maritallist = []
    errorlist = []
    
    def getmaritalstatussub(planningarea, year):
        url = f"https://developers.onemap.sg/privateapi/popapi/getMaritalStatus?token={MyToken}&planningArea={planningarea}&year={year}"
        req = requests.get(url).json()
        return req
    
    def appenderrorlist(errorlist, errorcount, year):
        errorlistnew = []
        correctedlist = []
        
        for planningarea in errorlist:
            try:
                male, female = getmaritalstatussub(planningarea, year)
                if len(male) and len(female) > 0:
                    correctedlist.append(male)
                    correctedlist.append(female)
                    time.sleep(0.3)
            except:
                errorlistnew.append(planningarea)
                print("Error data point at %s %s" %(year, planningarea))
        if len(errorlistnew) > 0:
            errorcount += 1
            print("There were still %s errors and the error count is %s... Re-running errorlist if error count less than 3" % (len(errorlistnew), errorcount))
                            
        return correctedlist, errorcount, errorlistnew
    
    
    #Main code
        
    for year in list(yearlist):
        
        for planningarea in planningareanames:
            
            try:
                male, female = getmaritalstatussub(planningarea, year)
                if len(male) and len(female) > 0:
                    maritallist.append(male)
                    maritallist.append(female)
                    time.sleep(0.5)
            except:
                errorlist.append(planningarea)    #Sometimes OneMap api can be overloaded even with long sleep time
    
        if len(errorlist) > 0:                    #ErrorHandling
            errorcount = 1
            print("There were %s errors, re-looping through error list..." %(len(errorlist)))
            
            while errorcount < 3:
                correctedlist, errorcount, errorlist = appenderrorlist(errorlist, errorcount, year)
                if len(correctedlist) > 0:
                    maritallist.append(correctedlist)
                if errorcount == 3:
                    errorlist = []
                    continue
                    
    
    #Save to Dataframe
    
    df = pd.DataFrame(maritallist)
    
    return df

In [16]:
#Call function
dfmarital = getmaritalstatus(2010, 2015, 2020)
dfmarital

There were 20 errors, re-looping through error list...
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 2... Re-running errorlist if error count less than 3
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 3... Re-running errorlist if error count less than 3

       planning_area  single  married  widowed  divorced  year  gender
0         Ang Mo Kio   26666    42992     1478      2197  2010    Male
1         Ang Mo Kio   24706    42420     8290      4424  2010  Female
2              Bedok   43753    71251     2204      3303  2010    Male
3              Bedok   39018    70419    11643      5430  2010  Female
4             Bishan   13550    22968      556       652  2010    Male
..               ...     ...      ...      ...       ...   ...     ...
285           Rochor       0        0        0         0  2020  Female
286  Singapore River       0        0        0         0  2020    Male
287  Singapore River       0        0        0         0  2020  Female
288     Straits View       0        0        0         0  2020    Male
289     Straits View       0        0        0         0  2020  Female

[290 rows x 7 columns]

In [ ]:
#Save to CSV
dfmarital.to_csv("..Raw-Data-MaritalStatus-2010-2015-2020.csv", index=False)

---

In [ ]:
#----Mode of Transport to School----

In [17]:
def getmodetransportschool(*yearlist):
    transportschoollist = []
    errorlist = []
    
    def getmodetransportschoolsub(planningarea, year):
        url = f"https://developers.onemap.sg/privateapi/popapi/getModeOfTransportSchool?token={MyToken}&planningArea={planningarea}&year={year}"
        req = requests.get(url).json()
        return req[0]
    
    def appenderrorlist(errorlist, errorcount, year):
        errorlistnew = []
        correctedlist = []
        
        for planningarea in errorlist:
            try:
                nextrow = getmodetransportschoolsub(planningarea, year)
                if len(nextrow) > 0:
                    transportschoollist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlistnew.append(planningarea)
                print("Error data point at %s %s" %(year, planningarea))
        if len(errorlistnew) > 0:
            errorcount += 1
            print("There were still %s errors and the error count is %s... Re-running errorlist if error count less than 3" % (len(errorlistnew), errorcount))
                            
        return correctedlist, errorcount, errorlistnew
    
    
    #Main code
        
    for year in list(yearlist):
        
        for planningarea in planningareanames:
            
            try:
                nextrow = getmodetransportschoolsub(planningarea, year)
                if len(nextrow) > 0:
                    transportschoollist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlist.append(planningarea)    #Sometimes OneMap api can be overloaded even with long sleep time
    
        if len(errorlist) > 0:                    #ErrorHandling
            errorcount = 1
            print("There were %s errors, re-looping through error list..." %(len(errorlist)))
            
            while errorcount < 3:
                correctedlist, errorcount, errorlist = appenderrorlist(errorlist, errorcount, year)
                if len(correctedlist) > 0:
                    transportschoollist.append(correctedlist)
                if errorcount == 3:
                    errorlist = []
                    continue
                    
    
    #Save to Dataframe
    
    df = pd.DataFrame(transportschoollist)
    
    return df

In [18]:
#Call function
dftransportschool = getmodetransportschool(2010, 2015, 2020)
dftransportschool

There were 20 errors, re-looping through error list...
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 2... Re-running errorlist if error count less than 3
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 3... Re-running errorlist if error count less than 3

,planning_area,bus,mrt,mrt_bus,mrt_car,mrt_other,taxi,car,pvt_chartered_bus,lorry_pickup,motorcycle_scooter,others,no_transport_required,other_combi_mrt_or_bus,mrt_lrt_only,mrt_lrt_and_bus,other_combi_mrt_lrt_or_bus,taxi_pvt_hire_car_only,pvt_chartered_bus_van,year
0,Ang Mo Kio,8837,1541,4012,103,25,97,4029,2729,131,104,1367,7803,0,0,0,0,0,0,2010
1,Bedok,16868,2085,7934,235,60,148,8162,6387,158,334,3354,11696,0,0,0,0,0,0,2010
2,Bishan,5917,1175,3251,65,51,76,3341,2461,37,82,1174,3154,0,0,0,0,0,0,2010
3,Bukit Batok,9225,1945,4397,86,98,33,4083,3415,50,157,1830,7831,0,0,0,0,0,0,2010
4,Bukit Merah,7759,1527,3705,31,54,37,1770,2640,45,69,814,4402,0,0,0,0,0,0,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,Paya Lebar,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2020
141,River Valley,180,0,0,0,0,0,564,0,0,0,32,281,0,63,334,11,41,447,2020
142,Rochor,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2020
143,Singapore River,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2020
144,Straits View,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2020

In [ ]:
#Save to CSV
dftransportschool.to_csv("..Raw-Data-ModeTransportSchool-2010-2015-2020.csv", index=False)

---

In [36]:
#----Mode of Transport to Work----

In [19]:
def getmodetransportwork(*yearlist):
    transportworklist = []
    errorlist = []
    
    def getmodetransportworksub(planningarea, year):
        url = f"https://developers.onemap.sg/privateapi/popapi/getModeOfTransportWork?token={MyToken}&planningArea={planningarea}&year={year}"
        req = requests.get(url).json()
        return req[0]
    
    def appenderrorlist(errorlist, errorcount, year):
        errorlistnew = []
        correctedlist = []
        
        for planningarea in errorlist:
            try:
                nextrow = getmodetransportworksub(planningarea, year)
                if len(nextrow) > 0:
                    transportworklist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlistnew.append(planningarea)
                print("Error data point at %s %s" %(year, planningarea))
        if len(errorlistnew) > 0:
            errorcount += 1
            print("There were still %s errors and the error count is %s... Re-running errorlist if error count less than 3" % (len(errorlistnew), errorcount))
                            
        return correctedlist, errorcount, errorlistnew
    
    
    #Main code
        
    for year in list(yearlist):
        
        for planningarea in planningareanames:
            
            try:
                nextrow = getmodetransportworksub(planningarea, year)
                if len(nextrow) > 0:
                    transportworklist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlist.append(planningarea)    #Sometimes OneMap api can be overloaded even with long sleep time
    
        if len(errorlist) > 0:                    #ErrorHandling
            errorcount = 1
            print("There were %s errors, re-looping through error list..." %(len(errorlist)))
            
            while errorcount < 3:
                correctedlist, errorcount, errorlist = appenderrorlist(errorlist, errorcount, year)
                if len(correctedlist) > 0:
                    transportworklist.append(correctedlist)
                if errorcount == 3:
                    errorlist = []
                    continue
                    
    
    #Save to Dataframe
    
    df = pd.DataFrame(transportworklist)
    
    return df

In [20]:
#Call function
dftransportwork = getmodetransportwork(2010, 2015, 2020)
dftransportwork

There were 20 errors, re-looping through error list...
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 2... Re-running errorlist if error count less than 3
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 3... Re-running errorlist if error count less than 3

,planning_area,bus,mrt,mrt_bus,mrt_car,mrt_other,taxi,car,pvt_chartered_bus,lorry_pickup,motorcycle_scooter,others,no_transport_required,other_combi_mrt_or_bus,mrt_lrt_only,mrt_lrt_and_bus,other_combi_mrt_lrt_or_bus,taxi_pvt_hire_car_only,pvt_chartered_bus_van,year
0,Ang Mo Kio,19707,11538,17565,738,787,1057,19258,2683,2491,2965,4314,7061,0,0,0,0,0,0,2010
1,Bedok,31472,11280,25128,1052,916,2473,40895,3879,2632,5954,9398,10986,0,0,0,0,0,0,2010
2,Bishan,7773,5957,8809,506,432,764,14199,927,682,852,2137,2890,0,0,0,0,0,0,2010
3,Bukit Batok,11769,10030,13219,658,1448,733,19547,3517,1926,2783,3738,4684,0,0,0,0,0,0,2010
4,Bukit Merah,24356,7308,12900,293,638,1344,14187,1590,1116,2537,3777,7608,0,0,0,0,0,0,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,Paya Lebar,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2020
141,River Valley,490,0,0,0,0,0,1854,0,0,16,65,742,0,692,620,84,651,31,2020
142,Rochor,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2020
143,Singapore River,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2020
144,Straits View,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2020

In [ ]:
#Save to CSV
dftransportwork.to_csv("..Raw-Data-ModeTransportWork-2010-2015-2020.csv", index=False)

---

In [ ]:
#----Age Data----

In [21]:
def getagedata(*yearlist):
    agelist = []
    errorlist = []
    
    def getagedatasub(planningarea, year):
        url = f"https://developers.onemap.sg/privateapi/popapi/getPopulationAgeGroup?token={MyToken}&planningArea={planningarea}&year={year}"
        req = requests.get(url).json()
        return req[0]
    
    def appenderrorlist(errorlist, errorcount, year):
        errorlistnew = []
        correctedlist = []
        
        for planningarea in errorlist:
            try:
                nextrow = getagedatasub(planningarea, year)
                if len(nextrow) > 0:
                    agelist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlistnew.append(planningarea)
                print("Error data point at %s %s" %(year, planningarea))
        if len(errorlistnew) > 0:
            errorcount += 1
            print("There were still %s errors and the error count is %s... Re-running errorlist if error count less than 3" % (len(errorlistnew), errorcount))
                            
        return correctedlist, errorcount, errorlistnew
    
    
    #Main code
        
    for year in list(yearlist):
        
        for planningarea in planningareanames:
            
            try:
                nextrow = getagedatasub(planningarea, year)
                if len(nextrow) > 0:
                    agelist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlist.append(planningarea)    #Sometimes OneMap api can be overloaded even with long sleep time
    
        if len(errorlist) > 0:                    #ErrorHandling
            errorcount = 1
            print("There were %s errors, re-looping through error list..." %(len(errorlist)))
            
            while errorcount < 3:
                correctedlist, errorcount, errorlist = appenderrorlist(errorlist, errorcount, year)
                if len(correctedlist) > 0:
                    agelist.append(correctedlist)
                if errorcount == 3:
                    errorlist = []
                    continue
                    
    
    #Save to Dataframe
    
    df = pd.DataFrame(agelist)
    
    return df

In [22]:
#Call function
dfagedata = getagedata(2010, 2015, 2020)
dfagedata

,planning_area,age_0_4,age_5_9,age_10_14,age_15_19,age_20_24,age_25_29,age_30_34,age_35_39,age_40_44,...,age_55_59,age_60_64,age_65_69,age_70_74,age_75_79,age_80_84,age_85_over,total,gender,year
0,Ang Mo Kio,7970,8420,9340,10460,10660,13400,14500,14510,13530,...,13790,11870,7460,6000,4060,2370,1520,179300,Total,2010
1,Bedok,13230,15020,17490,20080,20160,21270,21710,22750,22020,...,21890,18020,10230,8480,6120,3970,2850,294520,Total,2010
2,Bishan,3940,4760,5690,7190,6340,5930,6010,7350,7100,...,6730,5140,2970,2420,1660,1030,760,91300,Total,2010
3,Boon Lay,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Male,2010
4,Bukit Batok,3610,4300,4990,5220,5290,5470,5280,5750,6130,...,5110,3290,1630,1210,760,400,210,71360,Male,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Paya Lebar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Male,2020
161,River Valley,240,340,310,310,240,310,350,510,560,...,320,290,210,200,120,90,80,5450,Female,2020
162,Rochor,210,200,230,240,310,340,460,490,540,...,520,530,440,350,220,150,240,6530,Male,2020
163,Singapore River,120,140,100,70,60,70,120,210,210,...,90,70,50,50,20,20,10,1730,Female,2020
164,Straits View,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Total,2020

In [ ]:
#Save to CSV
dfagedata.to_csv("..Raw-Data-AgeData-2010-2015-2020.csv", index=False)

---

In [ ]:
#----Religion Data----

In [23]:
def getreligiondata(*yearlist):
    religionlist = []
    errorlist = []
    
    def getreligiondatasub(planningarea, year):
        url = f"https://developers.onemap.sg/privateapi/popapi/getReligion?token={MyToken}&planningArea={planningarea}&year={year}"
        req = requests.get(url).json()
        return req[0]
    
    def appenderrorlist(errorlist, errorcount, year):
        errorlistnew = []
        correctedlist = []
        
        for planningarea in errorlist:
            try:
                nextrow = getreligiondatasub(planningarea, year)
                if len(nextrow) > 0:
                    religionlist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlistnew.append(planningarea)
                print("Error data point at %s %s" %(year, planningarea))
        if len(errorlistnew) > 0:
            errorcount += 1
            print("There were still %s errors and the error count is %s... Re-running errorlist if error count less than 3" % (len(errorlistnew), errorcount))
                            
        return correctedlist, errorcount, errorlistnew
    
    
    #Main code
        
    for year in list(yearlist):
        
        for planningarea in planningareanames:
            
            try:
                nextrow = getreligiondatasub(planningarea, year)
                if len(nextrow) > 0:
                    religionlist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlist.append(planningarea)    #Sometimes OneMap api can be overloaded even with long sleep time
    
        if len(errorlist) > 0:                    #ErrorHandling
            errorcount = 1
            print("There were %s errors, re-looping through error list..." %(len(errorlist)))
            
            while errorcount < 3:
                correctedlist, errorcount, errorlist = appenderrorlist(errorlist, errorcount, year)
                if len(correctedlist) > 0:
                    religionlist.append(correctedlist)
                if errorcount == 3:
                    errorlist = []
                    continue
                    
    
    #Save to Dataframe
    
    df = pd.DataFrame(religionlist)
    
    return df

In [24]:
#Call function
dfreligiondata = getreligiondata(2010, 2015, 2020)
dfreligiondata

There were 20 errors, re-looping through error list...
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 2... Re-running errorlist if error count less than 3
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 3... Re-running errorlist if error count less than 3

,planning_area,no_religion,buddhism,taoism,islam,hinduism,sikhism,catholic_christian,other_christians,other_religions,year
0,Ang Mo Kio,25820,56082,23191,11650,7775,326,12040,15692,598,2010
1,Bedok,39471,74930,24932,45965,9628,1095,20150,30011,839,2010
2,Bishan,16849,23081,6385,4347,3636,134,9966,13439,282,2010
3,Bukit Batok,21592,37755,12869,18708,7676,371,7287,14166,290,2010
4,Bukit Merah,24693,49565,16799,11620,6326,694,7812,15514,536,2010
...,...,...,...,...,...,...,...,...,...,...,...
140,Paya Lebar,0,0,0,0,0,0,0,0,0,2020
141,River Valley,2565,1297,175,154,863,27,1057,2202,81,2020
142,Rochor,0,0,0,0,0,0,0,0,0,2020
143,Singapore River,0,0,0,0,0,0,0,0,0,2020
144,Straits View,0,0,0,0,0,0,0,0,0,2020

In [ ]:
#Save to CSV
dfreligiondata.to_csv("..Raw-Data-ReligionData-2010-2015-2020.csv", index=False)

---

In [ ]:
#----Spoken Language----

In [25]:
def getspokenlang(*yearlist):
    spokenlanglist = []
    errorlist = []
    
    def getspokenlangsub(planningarea, year):
        url = f"https://developers.onemap.sg/privateapi/popapi/getSpokenAtHome?token={MyToken}&planningArea={planningarea}&year={year}"
        req = requests.get(url).json()
        return req[0]
    
    def appenderrorlist(errorlist, errorcount, year):
        errorlistnew = []
        correctedlist = []
        
        for planningarea in errorlist:
            try:
                nextrow = getspokenlangsub(planningarea, year)
                if len(nextrow) > 0:
                    spokenlanglist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlistnew.append(planningarea)
                print("Error data point at %s %s" %(year, planningarea))
        if len(errorlistnew) > 0:
            errorcount += 1
            print("There were still %s errors and the error count is %s... Re-running errorlist if error count less than 3" % (len(errorlistnew), errorcount))
                            
        return correctedlist, errorcount, errorlistnew
    
    
    #Main code
        
    for year in list(yearlist):
        
        for planningarea in planningareanames:
            
            try:
                nextrow = getspokenlangsub(planningarea, year)
                if len(nextrow) > 0:
                    spokenlanglist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlist.append(planningarea)    #Sometimes OneMap api can be overloaded even with long sleep time
    
        if len(errorlist) > 0:                    #ErrorHandling
            errorcount = 1
            print("There were %s errors, re-looping through error list..." %(len(errorlist)))
            
            while errorcount < 3:
                correctedlist, errorcount, errorlist = appenderrorlist(errorlist, errorcount, year)
                if len(correctedlist) > 0:
                    spokenlanglist.append(correctedlist)
                if errorcount == 3:
                    errorlist = []
                    continue
                    
    
    #Save to Dataframe
    
    df = pd.DataFrame(spokenlanglist)
    
    return df

In [26]:
#Call function
dfspokenlang = getspokenlang(2010, 2015, 2020)
dfspokenlang

There were 20 errors, re-looping through error list...
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 2... Re-running errorlist if error count less than 3
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 3... Re-running errorlist if error count less than 3

,planning_area,english,mandarin,chinese_dialects,malay,tamil,other_indian_languages,others,eng_mand,eng_chn_dlt,...,mly_eng,mly_oth_lang,tml_eng,tml_oth_lang,oth_ind_lang_eng,oth_ind_lang_oth_lang,oth_lang_eng,oth_lang_oth_non_eng_lang,eng_tml,year
0,Ang Mo Kio,46338,61143,32771,10352,6079,1202,1522,0,0,...,0,0,0,0,0,0,0,0,0,2010
1,Bedok,96675,80351,37280,38903,4953,3575,2372,0,0,...,0,0,0,0,0,0,0,0,0,2010
2,Bishan,44620,23841,10709,3225,2045,540,954,0,0,...,0,0,0,0,0,0,0,0,0,2010
3,Bukit Batok,41029,49889,15031,17785,5368,2460,2096,0,0,...,0,0,0,0,0,0,0,0,0,2010
4,Bukit Merah,37409,41195,36709,8624,6995,1057,1593,0,0,...,0,0,0,0,0,0,0,0,0,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,Paya Lebar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020
141,River Valley,1803,123,27,6,0,0,0,2707,550,...,55,0,23,0,34,0,201,114,120,2020
142,Rochor,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020
143,Singapore River,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020
144,Straits View,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020

In [ ]:
#Save to CSV
dfspokenlang.to_csv("..Raw-Data-SpokenLanguage-2010-2015-2020.csv", index=False)

---

In [ ]:
#----Tenancy Data----

In [27]:
def gettenancydata(*yearlist):
    tenancylist = []
    errorlist = []
    
    def gettenancydatasub(planningarea, year):
        url = f"https://developers.onemap.sg/privateapi/popapi/getTenancy?token={MyToken}&planningArea={planningarea}&year={year}"
        req = requests.get(url).json()
        return req[0]
    
    def appenderrorlist(errorlist, errorcount, year):
        errorlistnew = []
        correctedlist = []
        
        for planningarea in errorlist:
            try:
                nextrow = gettenancydatasub(planningarea, year)
                if len(nextrow) > 0:
                    tenancylist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlistnew.append(planningarea)
                print("Error data point at %s %s" %(year, planningarea))
        if len(errorlistnew) > 0:
            errorcount += 1
            print("There were still %s errors and the error count is %s... Re-running errorlist if error count less than 3" % (len(errorlistnew), errorcount))
                            
        return correctedlist, errorcount, errorlistnew
    
    
    #Main code
        
    for year in list(yearlist):
        
        for planningarea in planningareanames:
            
            try:
                nextrow = gettenancydatasub(planningarea, year)
                if len(nextrow) > 0:
                    tenancylist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlist.append(planningarea)    #Sometimes OneMap api can be overloaded even with long sleep time
    
        if len(errorlist) > 0:                    #ErrorHandling
            errorcount = 1
            print("There were %s errors, re-looping through error list..." %(len(errorlist)))
            
            while errorcount < 3:
                correctedlist, errorcount, errorlist = appenderrorlist(errorlist, errorcount, year)
                if len(correctedlist) > 0:
                    tenancylist.append(correctedlist)
                if errorcount == 3:
                    errorlist = []
                    continue
                    
    
    #Save to Dataframe
    
    df = pd.DataFrame(tenancylist)
    
    return df

In [28]:
#Call function
dftenancydata = gettenancydata(2010, 2015, 2020)
dftenancydata

There were 20 errors, re-looping through error list...
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 2... Re-running errorlist if error count less than 3
Error data point at 2010 BOON LAY
Error data point at 2010 CENTRAL WATER CATCHMENT
Error data point at 2010 CHANGI BAY
Error data point at 2010 TENGAH
Error data point at 2010 PIONEER
Error data point at 2010 SELETAR
Error data point at 2010 SIMPANG
Error data point at 2010 SOUTHERN ISLANDS
Error data point at 2010 SUNGEI KADUT
Error data point at 2010 TUAS
Error data point at 2010 WESTERN ISLANDS
Error data point at 2010 WESTERN WATER CATCHMENT
Error data point at 2010 MARINA EAST
Error data point at 2010 MARINA SOUTH
Error data point at 2010 MUSEUM
Error data point at 2010 ORCHARD
Error data point at 2010 LIM CHU KANG
Error data point at 2010 NORTH-EASTERN ISLANDS
Error data point at 2010 PAYA LEBAR
Error data point at 2010 STRAITS VIEW
There were still 20 errors and the error count is 3... Re-running errorlist if error count less than 3

       planning_area  owner  tenant  others  year
0         Ang Mo Kio  50755    8307     644  2010
1              Bedok  78754   11087    1383  2010
2             Bishan  24950    2240     267  2010
3        Bukit Batok  39975    3750     408  2010
4        Bukit Merah  42018   13092     516  2010
..               ...    ...     ...     ...   ...
140       Paya Lebar      0       0       0  2020
141     River Valley   2454    1303     220  2020
142           Rochor      0       0       0  2020
143  Singapore River      0       0       0  2020
144     Straits View      0       0       0  2020

[145 rows x 5 columns]

In [ ]:
#Save to CSV
dftenancydata.to_csv("..Raw-Data-Tenancy-2010-2015-2020.csv", index=False)

---

In [ ]:
#Dwelling Type Population

In [30]:
def getdwellingdata(*yearlist):
    dwellinglist = []
    errorlist = []
    
    def getdwellingdatasub(planningarea, year):
        url = f"https://developers.onemap.sg/privateapi/popapi/getTypeOfDwellingPop?token={MyToken}&planningArea={planningarea}&year={year}"
        req = requests.get(url).json()
        return req[0]
    
    def appenderrorlist(errorlist, errorcount, year):
        errorlistnew = []
        correctedlist = []
        
        for planningarea in errorlist:
            try:
                nextrow = getdwellingdatasub(planningarea, year)
                if len(nextrow) > 0:
                    dwellinglist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlistnew.append(planningarea)
                print("Error data point at %s %s" %(year, planningarea))
        if len(errorlistnew) > 0:
            errorcount += 1
            print("There were still %s errors and the error count is %s... Re-running errorlist if error count less than 3" % (len(errorlistnew), errorcount))
                            
        return correctedlist, errorcount, errorlistnew
    
    
    #Main code
        
    for year in list(yearlist):
        
        for planningarea in planningareanames:
            
            try:
                nextrow = getdwellingdatasub(planningarea, year)
                if len(nextrow) > 0:
                    dwellinglist.append(nextrow)
                    time.sleep(0.5)
            except:
                errorlist.append(planningarea)    #Sometimes OneMap api can be overloaded even with long sleep time
    
        if len(errorlist) > 0:                    #ErrorHandling
            errorcount = 1
            print("There were %s errors, re-looping through error list..." %(len(errorlist)))
            
            while errorcount < 3:
                correctedlist, errorcount, errorlist = appenderrorlist(errorlist, errorcount, year)
                if len(correctedlist) > 0:
                    dwellinglist.append(correctedlist)
                if errorcount == 3:
                    errorlist = []
                    continue
                    
    
    #Save to Dataframe
    
    df = pd.DataFrame(dwellinglist)
    
    return df

In [31]:
#Call function
dfdwellingdata = getdwellingdata(2010, 2015, 2020)
dfdwellingdata

,planning_area,year,hdb_1_and_2_room_flats,hdb_3_room_flats,hdb_4_room_flats,hdb_5_room_and_executive_flats,condominiums_and_other_apartments,landed_properties,others,total_hdb,total
0,Ang Mo Kio,2010,11660,70180,47300,21860,10870,16050,1390,150980,179300
1,Bedok,2010,9240,66970,76230,51120,41910,45920,3140,203560,294520
2,Bishan,2010,790,5920,33140,27380,11240,11040,490,68530,91300
3,Boon Lay,2010,0,0,0,0,0,0,0,0,40
4,Bukit Batok,2010,120,30580,53470,30200,24630,4480,740,114360,144200
...,...,...,...,...,...,...,...,...,...,...,...
160,Paya Lebar,2020,0,0,0,0,0,0,0,0,40
161,River Valley,2020,0,0,0,0,9290,700,80,0,10070
162,Rochor,2020,710,4380,4130,740,2300,140,710,9960,13120
163,Singapore River,2020,0,0,0,0,3110,0,150,0,3260
164,Straits View,2020,0,0,0,0,0,0,0,0,0

In [ ]:
#Save to CSV
dfdwellingdata.to_csv("..Raw-Data-DwellingType-2010-2015-2020.csv", index=False)

---

In [ ]:
#----Import all dataframes into Excel file with multiple sheets----

In [35]:
with pd.ExcelWriter("Output.xlsx") as writer:
    dfplnarea.to_excel(writer, sheet_name="Planning Area", index = False)
    dfecon.to_excel(writer, sheet_name="Economic Status", index = False)
    dfedu.to_excel(writer, sheet_name="Education Status", index = False)
    dfethnic.to_excel(writer, sheet_name="Ethnic Status", index = False)
    dfhousehold.to_excel(writer, sheet_name="Household Size", index = False)
    dfhhstructure.to_excel(writer, sheet_name="Household Structure", index = False)
    dflanglit.to_excel(writer, sheet_name="Language Literacy", index = False)
    dfmarital.to_excel(writer, sheet_name="Marital Status", index = False)
    dftransportschool.to_excel(writer, sheet_name="School Transport", index = False)
    dftransportwork.to_excel(writer, sheet_name="Work Transport", index = False)
    dfagedata.to_excel(writer, sheet_name="Age Group", index = False)
    dfreligiondata.to_excel(writer, sheet_name="Religion", index = False)
    dfspokenlang.to_excel(writer, sheet_name="Spoken Language", index = False)
    dftenancydata.to_excel(writer, sheet_name="Tenancy Type", index = False)
    dfdwellingdata.to_excel(writer, sheet_name="Dwelling Type", index = False)